/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

body.master-detail main#app
{
	div#drawer
	{
		--drawer-elevation: 2px 0 var(--outline-color-secondary);
	}

	> div.toolbar
	{
		--toolbar-elevation: #{$drawer-primary-width} 2px var(--outline-color-secondary);
	}

	> div.content
	{
		padding: 0;

		> div.panel
		{
			display: flex;
			align-items: stretch;
			flex-flow: row nowrap;
			justify-content: flex-start;
			height: calc(100vh - var(--toolbar-height));
			border-radius: 0;

			> div.row
			{
				width: 100%;
			}
		}

		#detail,
		#master
		{
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}

		@include compact
		{
			> div.panel
			{
				height: unset;
			}

			#detail
			{
				border-top: 2px solid var(--outline-color-secondary);
			}
		}

		@include expanded
		{
			#detail
			{
				border-left: 2px solid var(--outline-color-secondary);
			}
		}
	}

	@include compact
	{
		> div.toolbar
		{
			--toolbar-elevation: 0 2px var(--outline-color-secondary);
		}
	}
}
