.be-block-columns > .col-12
{
	flex: 1 0 0;
}

.be-settings-columns-presets
{
	position: relative;
	display: flex;
	margin: 0 -7px -7px;
	width: calc(100% + 14px);
	flex-wrap: wrap;

	.preset
	{
		position: relative;
		display: flex;
		height: 54px;
		margin: 7px;
		padding: 6px;
		width: 84px;
		background: rgba(var(--outline-color), .25);
		box-shadow: 0 0 0 1px rgba(var(--outline-color), 1);
		border-radius: var(--radius);
		cursor: pointer;

		&:hover
		{
			box-shadow: 0 0 0 2px rgba(var(--outline-color), 1);
		}

		&.is-active
		{
			box-shadow: 0 0 0 2px rgba(var(--color-primary), 1);
		}

		div.column
		{
			position: relative;
			display: block;
			background: rgba(var(--panel-background), 1);
			box-shadow: 0 0 0 1px rgba(var(--outline-color), 1);
		}
	}
}
