.be-editor
{
	--editor-content-background: rgba(var(--panel-background), 1);
	--editor-content-width: 800px;
	--panel-gutter: 24px;

	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;

	[contenteditable]
	{
		outline: 0 !important;

		&:empty::before
		{
			content: attr(data-placeholder);
			opacity: .6;
		}
	}

	ol[contenteditable],
	ul[contenteditable]
	{
		&:empty::before
		{
			display: none;
		}

		li:empty::before
		{
			content: attr(data-placeholder);
			opacity: .6;
		}
	}

	.be-content-pane
	{
		position: relative;
		display: block;
		height: 100%;
		flex: 1 1 auto;
	}

	.be-content-mount
	{
		position: relative;
		display: block;
		height: calc(100% - 60px);
		width: 100%;
		background: var(--editor-content-background);
		overflow: auto;
		will-change: transform;
	}

	.be-content-wrapper
	{
		position: relative;
		display: block;
		margin: var(--panel-gutter) auto;
		max-width: var(--editor-content-width);
	}

	.be-block-actions
	{
		position: relative;
		display: flex;
		flex: 0 0 auto;
		align-items: center;

		.divider
		{
			height: 18px;
			margin: 0 3px;
		}
	}

	.be-inserter.be-inserter-expanded
	{
		position: relative;
		display: flex;
		height: 90px;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		background: rgba(var(--outline-color), .3);
		border: 2px dashed rgba(var(--outline-color), 1);
		border-radius: var(--radius);
		color: rgba(var(--main-foreground), .75);
		cursor: pointer;
		text-align: center;

		i.mdi
		{
			margin-bottom: 6px;
			font-size: 24px;
		}

		&:hover
		{
			background: rgba(var(--outline-color), .4);
		}
	}

	.be-inserter.be-inserter-mini
	{
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		height: 3px;
		background: rgba(var(--color-primary), .5);
		border-radius: 2px;
		cursor: default;
		opacity: 0;
		transition: opacity 90ms var(--ease-swift-out);
		z-index: 1;

		&.top
		{
			top: -2px;
		}

		&.bottom
		{
			bottom: -2px;
		}

		&::before
		{
			position: absolute;
			display: block;
			top: -9px;
			left: 0;
			right: 0;
			bottom: -9px;
			content: "";
			background: transparent;
			pointer-events: none;
		}

		.btn
		{
			--btn-height: 30px;
			--btn-icon-size: 18px;
			--btn-padding: 6px;

			position: absolute;
			top: 50%;
			left: 50%;
			height: 30px;
			width: 30px;
			background: rgba(var(--color-primary), 1);
			border-radius: 99px;
			color: white;
			transform: translate3d(-50%, -50%, 0);
		}

		&:hover
		{
			opacity: 1;
			z-index: 2;

			&::before
			{
				pointer-events: all;
			}
		}
	}

	.be-settings-group
	{
		+ .be-settings-group
		{
			border-top: 1px solid rgba(var(--outline-color), 1);
		}

		.be-settings-header
		{
			position: relative;
			display: flex;
			height: 54px;
			padding: 0 24px;
			align-items: center;
			background: rgba(var(--outline-color), .25);
			box-shadow: 0 1px rgba(var(--outline-color), 1);
			cursor: pointer;
			user-select: none;

			&:hover
			{
				background: rgba(var(--outline-color), .35);
			}

			div.be-settings-group-label
			{
				position: relative;
				display: flex;
				flex: 1 1 auto;
				flex-flow: column;

				span:first-child
				{
					font-size: .9rem;
					font-weight: 500;
					line-height: 1em;
				}

				span:not(:only-child):last-child
				{
					margin-top: 3px;
					font-size: .75rem;
					font-weight: 400;
					line-height: 1em;
					opacity: .7;
				}
			}

			> i.mdi
			{
				color: rgba(var(--main-foreground), .75);
				font-size: 24px;
			}
		}

		.be-settings-body
		{
			position: relative;
			display: flex;
			flex-flow: column;
			box-shadow: 0 1px rgba(var(--outline-color), 1);

			&.padded
			{
				padding: 15px 24px;
			}
		}
	}

	.be-settings-pane
	{
		position: relative;
		display: flex;
		height: 100%;
		width: 330px;
		flex: 0 0 auto;
		flex-flow: column;
		justify-content: flex-start;
		border-left: 1px solid rgba(var(--outline-color), 1);
		overflow: auto;
		will-change: transform;

		.panel-header
		{
			position: sticky;
			top: 0;
			min-height: 60px;
			background: rgba(var(--panel-background), 1);
			border-color: rgba(var(--outline-color), 1);
			font-size: .9rem;
			z-index: 1;

			&:not(:first-of-type)
			{
				border-top: 1px solid rgba(var(--outline-color), 1);
			}
		}
	}

	.be-settings-row
	{
		position: relative;
		display: flex;
		margin: 0;
		min-height: 59px;
		padding: 15px 24px;
		align-items: center;
		justify-content: space-between;

		+ .be-settings-row
		{
			border-top: 1px solid rgba(var(--outline-color), .75);
		}

		> div
		{
			position: relative;
			display: block;
			flex: 0 0 auto;
		}

		> span
		{
			color: rgba(var(--main-foreground), .75);
			font-size: .9rem;
			font-weight: 500;
		}

		&.flex-column
		{
			padding: 15px 24px;
			align-items: flex-start;

			> span
			{
				margin: 0 0 .5rem 0;
			}
		}
	}

	.be-options-side
	{
		position: absolute;
		display: flex;
		top: -12px;
		left: -66px;
		padding: 6px;
		flex-flow: column;
		background: rgba(var(--panel-background), 1);
		border-radius: var(--radius);
		box-shadow: var(--popup-elevation);
		z-index: 10;

		.btn
		{
			margin: 0;
		}

		.divider
		{
			margin: 6px 0;
		}
	}

	.panel-header.be-toolbar
	{
		position: relative;
		top: 0;
		min-height: 60px;
		border-color: rgba(var(--outline-color), 1);
		font-size: 1rem;

		.divider + .divider,
		.divider:last-child
		{
			display: none;
		}
	}

	@at-root .be-hierarchy
	{
		min-width: 420px;

		.be-hierarchy-group
		{
			position: relative;
			display: flex;
			flex-flow: column;
		}

		> .be-hierarchy-group
		{
			padding: 12px 0;
		}

		.be-hierarchy-item
		{
			position: relative;
			display: flex;
			align-items: stretch;
			flex-flow: column;

			.be-hierarchy-group
			{
				margin-left: 18px;
			}
		}

		.be-hierarchy-header
		{
			position: relative;
			display: flex;
			margin-left: -300px;
			padding-left: 300px;
			align-items: center;

			.block-actions
			{
				position: relative;
				display: flex;
				padding: 0 30px 0 0;
				align-items: center;

				.divider
				{
					height: 18px;
					margin: 0 6px;
				}
			}

			.block-name
			{
				position: relative;
				display: block;
				padding: 9px 30px;
				flex: 1 1 0;
				color: rgba(var(--main-foreground), .75);
				font-size: .9rem;
				font-weight: 500;
			}

			&:hover
			{
				background: rgba(var(--outline-color), .25);
				outline: 1px solid rgba(var(--outline-color), 1);
			}
		}
	}

	@at-root .be-inserter.be-inserter-popup
	{
		width: 420px;

		.be-inserter-category
		{
			position: relative;
			display: block;

			+ .be-inserter-category
			{
				border-top: 1px solid rgba(var(--outline-color), 1);
			}
		}

		.be-inserter-header
		{
			position: sticky;
			display: flex;
			top: 0;
			height: 54px;
			padding: 0 15px;
			align-items: center;
			background: rgba(var(--panel-background), 1);
			cursor: pointer;
			z-index: 1;

			&.is-open
			{
				border-bottom: 1px solid rgba(var(--outline-color), 1);
			}

			&:hover
			{
				background: linear-gradient(to bottom, rgba(var(--outline-color), .25), rgba(var(--outline-color), .25)) white;
			}

			i.mdi
			{
				color: rgba(var(--main-foreground), .75);
				font-size: 24px;
			}

			span
			{
				margin: 0 auto 0 12px;
			}
		}

		.be-inserter-body
		{
			position: relative;
			display: grid;
			padding: 24px;
			grid-gap: 6px;
			grid-auto-rows: 1fr;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.be-inserter-block
		{
			position: relative;
			display: flex;
			padding: 18px 12px;
			align-items: center;
			flex-flow: column;
			justify-content: flex-start;
			background: transparent;
			border: 0;
			border-radius: var(--radius);
			cursor: pointer;

			&:hover
			{
				background: rgba(var(--outline-color), .5);
			}

			i.mdi
			{
				color: rgba(var(--color-primary), .75);
				margin-bottom: 6px;
				font-size: 24px;
			}

			span
			{
				color: rgba(var(--main-foreground), .75);
				font-size: .9rem;
			}
		}

		.be-inserter-empty
		{
			grid-column: 1 / span 3;
			text-align: center;
		}
	}

	@import "editor-blocks";
}
