.be-block-mount
{
	position: relative;
	display: flex;
	margin: -1px;
	padding: 1px;
	pointer-events: none;

	> *
	{
		pointer-events: all;
	}

	&.is-selected
	{
		z-index: 10;
	}

	&.is-selected::before
	{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: var(--editor-rect-h, 0);
		width: var(--editor-rect-w, 0);
		content: "";
		outline: 2px dashed rgba(var(--color-primary), .15);
		outline-offset: 12px;
		pointer-events: none;
		z-index: 2;
	}

	h1, h2, h3, h4, h5, h6, p, ol, ul
	{
		width: 100%;
	}
}

.be-blocks
{
	width: 100%;
}

@import "columns";
@import "page-break";
@import "text";

.be-block-youtube-embed:not(.is-last) .be-block-embed
{
	margin-bottom: 1rem;
}

.be-block-youtube-embed:not(.is-selected) .be-block-embed > *
{
	pointer-events: none;
}
