.be-editor-nag
{
	--btnBackground: var(--mainForeground);

	position: fixed;
	display: flex;
	top: var(--nagY, 0);
	left: var(--nagX, 0);
	padding: 6px;
	background: rgba(var(--panelBackground), 1);
	border: 1px solid rgba(var(--outlineColor), 1);
	border-radius: var(--radius);
	box-shadow: var(--elevation6);
	transform: var(--nagTransform, none);
	z-index: 500;

	&.be-sidebar
	{
		flex-flow: column;
	}

	.btn
	{
		margin: 0;
	}

	.divider-horizontal
	{
		width: 24px;
		margin: 9px 6px;
	}

	.divider-vertical
	{
		height: 24px;
		margin: 6px 9px;
	}
}
