@import "font";
@import "editor";

.be-editor
{
	--color-marveld-blue: 2, 157, 224;
	--color-marveld-blue-button: 51, 87, 113;
	--color-marveld-blue-dark: 0, 44, 115;
	--color-marveld-blue-light: 222, 243, 251;
	--color-marveld-green: 199, 210, 10;
	--color-marveld-orange: 243, 149, 1;
	--color-marveld-yellow: 255, 207, 0;

	--overlay-background: rgba(var(--color-marveld-blue-button), .85);

	--content-gutter: 0;
	--drawer-width-secondary: 270px;

	--mv-vpadding-top: 0px;
	--mv-vpadding-left: 0px;
	--mv-vpadding-right: 0px;
	--mv-vpadding-bottom: 0px;

	@import "typography";
	@import "featured-image";
}
