const result = await Latte.ui.notification.create({
	duration: 0,
	icon: "package",
	title: "Update available!",
	message: "Would you like to update now?",
	buttons: [
		{id: 1, label: "Update now", color: "primary"},
		{id: 2, label: "Later"}
	]
});

console.log(`Button ID: ${result}`);
