const {button} = await Latte.ui.message.confirm("Confirm", "This is a confirm message with two buttons.");

switch (button)
{
	case Latte.ui.message.Buttons.CANCEL:
		Latte.ui.message.alert("Result", "You clicked Cancel!");
		break;

	case Latte.ui.message.Buttons.OK:
		Latte.ui.message.alert("Result", "You clicked OK!");
		break;
}
