/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

.avatar
{
	position: relative;
	display: inline-block;
	height: 1em;
	width: 1em;
	margin: 0;
	padding: 0;
	background: var(--panel-background);
	border-radius: 1em;
	object-fit: cover;
	object-position: center center;
}

div.avatar-strip
{
	position: relative;
	display: flex;

	.avatar
	{
		position: relative;
		display: block;
		height: 1em;
		margin-left: -.3em;
		width: 1em;
		box-shadow: 0 0 0 .1em var(--avatar-strip-background, var(--panel-background));
		transition: all 180ms var(--ease-swift-out);

		&:first-child
		{
			margin-left: 0;
		}
	}

	&.with-hover:hover .avatar:not(:first-child)
	{
		margin-left: .1em;
	}
}

$sizes: 24 36 48 96 144;

@each $size in $sizes
{
	.avatar-#{$size}px
	{
		font-size: $size * 1px;
	}
}
