/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

.badge
{
	--badge-bg-pvt: var(--badge-bg, transparent);
	--badge-bg-hover-pvt: var(--badge-bg-hover, var(--badge-bg-pvt));
	--badge-color-pvt: var(--badge-color, black);

	position: relative;
	display: inline-flex;
	margin: -1px;
	padding: 6px 12px;
	align-items: center;
	justify-content: center;
	background: var(--badge-bg-pvt);
	border: 1px solid var(--badge-bg-pvt);
	border-radius: 15px;
	color: var(--badge-color-pvt) !important;
	font-size: .8em;
	font-weight: 600;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	&.badge-fill
	{
		width: 100%;
	}

	button.btn.btn-icon
	{
		height: 20px;
		margin: -6px -10px -6px 6px;
		width: 20px;
		border-radius: inherit;
		color: inherit;
		overflow: hidden;
		vertical-align: middle;

		&::before
		{
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			background: currentColor;
			opacity: .1;
		}

		&:hover::before
		{
			opacity: .2;
		}

		i.mdi
		{
			height: inherit;
			width: inherit;
			font-size: inherit;
			line-height: 20px;
		}
	}

	span.spinner
	{
		margin: -6px -6px -6px -10px;
		font-size: 20px;
	}
}

a.badge:hover
{
	background: var(--badge-bg-hover-pvt);
	cursor: pointer;
}

@each $type in map-keys($theme-colors)
{
	.badge-#{$type}
	{
		--badge-bg: #{theme-color-alpha($type, .1, darker-1)};
		--badge-bg-hover: #{theme-color-alpha($type, .2, darker-1)};
		--badge-color: #{theme-color-var($type)};
	}
}

