/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

.btn
{
	--btn-background: var(--color-primary);
	--btn-foreground: var(--color-primary-foreground);
	--btn-font-size: 1rem;
	--btn-icon-size: 24px;

	position: relative;
	display: inline-flex;
	appearance: none;
	height: var(--btn-height, auto);
	margin: 0;
	padding: var(--btn-padding, 0);
	align-items: center;
	flex-shrink: 0;
	justify-content: center;
	border: 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	font-size: var(--btn-font-size);
	font-weight: 500;
	text-align: center;
	vertical-align: middle;

	& + .btn
	{
		margin-left: 6px;
	}

	&[disabled],
	&.disabled
	{
		filter: grayscale(100%);
		opacity: .5;
		pointer-events: none;
	}

	i.mdi
	{
		position: relative;
		display: block;
		font-size: var(--btn-icon-size);
	}

	i.mdi + span
	{
		margin-left: 12px;
	}

	span + i.mdi
	{
		margin-left: 12px;
	}

	.avatar
	{
		margin: -3px 0;
		font-size: 30px;
	}

	&.btn-contained
	{
		--btn-height: 36px;
		--btn-padding: 6px 15px;

		background: RGB(var(--btn-background));
		color: RGB(var(--btn-foreground));

		&:hover,
		&:focus
		{
			background: linear-gradient(to top, RGBA(var(--btn-foreground), .1), RGBA(var(--btn-foreground), .1)), RGB(var(--btn-background));
		}

		&:active
		{
			background: linear-gradient(to top, RGBA(var(--btn-foreground), .2), RGBA(var(--btn-foreground), .2)), RGB(var(--btn-background));
		}

		&.btn-sm
		{
			--btn-height: 24px;
			--btn-icon-size: 18px;
			--btn-font-size: .9rem;
			--btn-padding: 0 9px;
		}
	}

	&.btn-text
	{
		--btn-height: 36px;
		--btn-padding: 6px 15px;

		background: transparent;
		color: RGB(var(--btn-background, var(--color-primary)));

		&:hover,
		&:focus
		{
			background: RGBA(var(--btn-background, var(--color-primary)), .1);
		}

		&:active
		{
			background: RGBA(var(--btn-background, var(--color-primary)), .2);
		}

		&.btn-sm
		{
			--btn-height: 24px;
			--btn-icon-size: 18px;
			--btn-font-size: .9rem;
			--btn-padding: 0 9px;
		}
	}

	&.btn-icon
	{
		--btn-padding: 6px;

		&.btn-sm
		{
			--btn-padding: 3px;
		}
	}

	&.btn-pill
	{
		display: flex;
		height: 54px;
		margin: 0;
		width: 100%;
	}
}

@each $type in $theme-color-types
{
	.btn-#{$type}
	{
		--btn-background: var(--color-#{$type});
		--btn-foreground: var(--color-#{$type}-foreground);
	}
}
