/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

.chip
{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	background: RGBA(var(--color-primary), .05);
	border-radius: 999px;
	box-shadow: 0 0 0 1px RGBA(var(--color-primary), .1);
	vertical-align: middle;

	img.avatar
	{
		flex: 0 0 auto;
		font-size: 30px;
	}

	span
	{
		position: relative;
		display: block;
		margin: 0 12px;
		flex: 1 1 auto;
		color: var(--main-foreground);
		font-size: .9em;
		font-weight: 600;
		line-height: 24px;
		overflow: hidden;
		vertical-align: middle;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

a.chip
{
	cursor: pointer;
	transition: background 90ms var(--ease-standard-curve);
	will-change: background;

	&:hover
	{
		background: RGBA(var(--color-primary), .1);
	}
}
