/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.dropdown
{
	position: relative;
	display: block;
	background: var(--dropdown-background);
	border-radius: var(--border-radius);
	box-shadow: var(--dropdown-elevation);
	z-index: 0;

	&.dropdown-fixed
	{
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		opacity: 0;
		pointer-events: none;
		transition: all 180ms var(--ease-swift-out);
		will-change: opacity, transform;
		z-index: 3000;

		&.is-open
		{
			opacity: 1;
			pointer-events: all;
		}
	}

	&::after
	{
		position: absolute;
		display: none;
		margin: 0 1px;
		content: "";
		border: 8px solid transparent;
		border-top-color: var(--dropdown-background);
		border-bottom-color: var(--dropdown-background);
		z-index: -1;
	}

	&::before
	{
		position: absolute;
		display: none;
		margin: -1px 0 0 0;
		content: "";
		border: 9px solid transparent;
		border-top-color: var(--outline-color);
		border-bottom-color: var(--outline-color);
		z-index: -1;
	}

	&.dropdown-left-above
	{
		&::before,
		&::after
		{
			display: block;
			left: 27px;
			border-bottom: none;
		}

		&::before
		{
			bottom: -9px;
		}

		&::after
		{
			bottom: -8px;
		}
	}

	&.dropdown-right-above
	{
		&::before,
		&::after
		{
			display: block;
			right: 27px;
			border-bottom: none;
		}

		&::before
		{
			bottom: -9px;
		}

		&::after
		{
			bottom: -8px;
		}
	}

	&.dropdown-left-under
	{
		&::before,
		&::after
		{
			display: block;
			top: -8px;
			left: 27px;
			border-top: none;
		}
	}

	&.dropdown-right-under
	{
		&::before,
		&::after
		{
			display: block;
			top: -8px;
			right: 27px;
			border-top: none;
		}
	}

	div.dropdown-content
	{
		position: relative;
		display: block;
		max-height: 55vh;
		border-radius: inherit;
		overflow: auto;

		-webkit-overflow-scrolling: touch;
	}
}
