/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

$notice-icons: (
		error: "\F028",
		info: "\F2FC",
		success: "\F5E0",
		warning: "\F026",
		default: "\F09A"
);

div.notice
{
	position: relative;
	display: flex;
	margin: -1px;
	padding: 15px 24px;
	align-items: center;
	justify-content: flex-start;
	background: RGBA(var(--notice-color), .15);
	border: 1px solid RGBA(var(--notice-color), .2);
	border-radius: var(--border-radius);
	color: RGB(var(--notice-color));
	font-weight: 500;
	overflow: hidden;

	&.notice-outline
	{
		background: transparent;
		border: 1px dashed RGBA(var(--notice-color), .5);
	}

	.btn
	{
		--btn-background: var(--notice-color);
		--btn-foreground: var(--notice-color-foreground);
	}

	> i.mdi
	{
		margin: -1px 0;
		align-self: flex-start;
		font-size: 24px;

		&:not(:last-child)
		{
			margin-right: 24px;
		}
	}

	.btn.notice-dismiss
	{
		margin: -7px -15px -7px auto;
		align-self: flex-start;
	}

	p:last-of-type
	{
		margin-bottom: 0;
	}

	div.divider
	{
		margin: 15px 0;
		align-self: stretch;
		flex: 1 1 auto;

		--outline-color: RGBA(var(--notice-color), .2);
	}

	+ div.notice
	{
		margin-top: 1rem;
	}
}

@each $type in map-keys($theme-colors)
{
	.notice-#{$type}
	{
		--notice-color: var(--color-#{$type});
		--notice-color-foreground: var(--color-#{$type}-foreground);
		--notice-icon: "#{if(map-has-key($notice-icons, $type), #{map-get($notice-icons, $type)}, #{map-get($notice-icons, default)})}";
	}
}
