/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

input[type=radio].radio-button
{
	--radio-button-color-private: var(--radio-button-color, var(--color-primary));

	position: relative;
	display: inline-block;
	appearance: none;
	height: 24px;
	width: 24px;
	flex: 0 0 auto;
	background: transparent;
	border: 2px solid var(--form-field-outline);
	border-radius: 12px;
	cursor: pointer;
	outline: none;
	transition: transform 210ms var(--ease-swift-out);
	vertical-align: middle;
	will-change: transform;

	&:active
	{
		transform: scale3d(.85, .85, .85);
	}

	&::before
	{
		position: absolute;
		display: block;
		height: 14px;
		margin: 3px;
		width: 14px;
		content: "";
		background: RGB(var(--radio-button-color-private));
		border-radius: 7px;
		transform: scale3d(0, 0, 0);
		transition: transform 130ms var(--ease-standard-curve);
	}

	&:checked::before
	{
		transform: scale3d(1, 1, 1);
	}

	&:focus
	{
		border-color: RGB(var(--radio-button-color-private));
	}
}

@each $type in $theme-color-types
{
	.radio-button.radio-button-#{$type}
	{
		--radio-button-color: var(--color-#{$type});
	}
}
