/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

@keyframes spinner-animation
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}

span.spinner
{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	vertical-align: middle;

	+ span
	{
		margin-left: 1rem;
	}
}

i.mdi.spinner
{
	display: inline-flex;
	vertical-align: middle;
}

span.spinner::before,
i.mdi.spinner::before
{
	position: relative;
	display: block;
	height: 1em;
	width: 1em;
	content: "";
	border: .1em solid currentColor;
	border-radius: 999px;
	opacity: .25;
}

span.spinner.spinner-double::before,
i.mdi.spinner.spinner-double::before
{
	border: .1em solid transparent;
}

span.spinner::after,
i.mdi.spinner::after
{
	position: relative;
	display: block;
	margin-left: -1em;
	height: 1em;
	width: 1em;
	content: "";
	animation: spinner-animation 700ms infinite linear;
	border: .1em solid transparent;
	border-top-color: currentColor;
	border-radius: 999px;
}

span.spinner.spinner-double::after,
i.mdi.spinner.spinner-double::after
{
	border-top-color: currentColor;
	border-bottom-color: currentColor;
}

@each $type in $theme-color-types
{
	.spinner.spinner-#{$type}
	{
		color: RGB(var(--color-#{$type}));
	}
}
