/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.panel-alert
{
	max-width: 540px;
	width: calc(100vw - 48px);

	p:last-child
	{
		margin-bottom: 0;
	}
}
