/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.latte-autocomplete
{
	position: relative;
	display: block;

	div.form-control
	{
		display: flex;
		padding: 0 8px;
		align-items: center;
		flex-flow: row wrap;

		span.badge
		{
			margin: 8px 8px 8px 0;
		}

		input[type=search]
		{
			position: relative;
			display: block;
			margin: 0 -8px;
			padding: 0 16px;
			min-width: 90px;
			box-shadow: none;
			line-height: 42px;
			flex: 1 1 0;
		}
	}

	div.dropdown
	{
		position: absolute;
		margin: 0 -.95rem;
		width: calc(100% + 1.9rem);
		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 24px, 0);
		transition: all 180ms var(--ease-swift-out);
		will-change: opacity, transform;
		z-index: 5;

		&.is-open
		{
			opacity: 1;
			pointer-events: all;
			transform: translate3d(0, 0, 0);
		}
	}

	span.spinner
	{
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--panel-spinner-background);
	}
}
