/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

nav.nav.nav-list.latte-context-menu
{
	position: fixed;
	display: block;
	background: var(--dropdown-background);
	border-radius: var(--border-radius);
	box-shadow: var(--dropdown-elevation);
	transition: opacity 90ms var(--ease-swift-out), transform 90ms var(--ease-swift-out);
	z-index: 9999999999;

	&:not(.is-open)
	{
		opacity: 0;
		pointer-events: none;
		transform: scale3d(0.95, 0.95, 0.95);
	}
}
