/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div#drawer
{
	position: relative;
	display: flex;
	height: 100%;
	align-items: stretch;
	justify-content: flex-start;
	box-shadow: var(--drawer-elevation);
	z-index: 1001;

	nav#drawer-primary
	{
		position: relative;
		padding: 1rem 0 0;
		width: $drawer-primary-width;
		background: RGB(var(--drawer-background-primary));
		border-top: 1px solid var(--drawer-outline-primary);
		overflow: auto;

		-webkit-overflow-scrolling: touch;

		div.divider
		{
			margin: 0 1rem;
			background: var(--drawer-outline-primary);
		}

		a.nav-item
		{
			position: relative;
			display: flex;
			height: $drawer-primary-width;
			width: $drawer-primary-width;
			align-items: center;
			flex: 0 0 auto;
			justify-content: center;
			color: RGBA(var(--drawer-foreground-primary), .7);
			transition: all 90ms var(--ease-swift-out);
			will-change: background, color;

			&:hover
			{
				background: RGBA(var(--drawer-foreground-primary), .07);
				color: RGB(var(--drawer-foreground-primary));
			}

			&.active
			{
				background: RGB(var(--color-primary));
				color: RGB(var(--color-primary-foreground));
			}

			i.mdi
			{
				height: 24px;
				width: 24px;
				font-size: 24px;
				line-height: 24px;
			}
		}
	}

	nav#drawer-secondary
	{
		position: relative;
		padding: 2rem 0;
		width: $drawer-secondary-width;
		background: RGB(var(--drawer-background-secondary));
		border-top: 1px solid var(--drawer-outline-secondary);
		overflow: auto;

		-webkit-overflow-scrolling: touch;

		div.section:first-child
		{
			margin-top: .75rem;
		}

		a.nav-link
		{
			height: 45px;
		}
	}
}
