/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.latte-empty-view
{
	position: relative;
	display: flex;
	padding: 48px;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	pointer-events: none;
	user-select: none;

	&.is-full
	{
		min-height: calc(100vh - (var(--toolbar-height) + 48px));
	}

	div.empty-view-image
	{
		position: relative;
		display: block;
		margin: 0 auto 3rem auto;

		.illustration
		{
			max-width: 50vw;
			width: 300px;
			opacity: .35;
		}
	}

	div.empty-view-caption
	{
		position: relative;
		display: flex;
		margin: 0 auto;
		max-width: 390px;
		align-items: center;
		flex-flow: column;
		justify-content: flex-start;
		text-align: center;

		h2
		{
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			color: var(--main-foreground);
			font:
			{
				size: 1.5rem;
				weight: 800;
			}
		}

		p
		{
			position: relative;
			display: block;
			margin: 1rem 0 0 0;
			color: var(--main-placeholder);
			font:
			{
				size: 1.1rem;
				weight: 400;
			}
		}
	}
}
