/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.panel.file-manager
{
	&.is-overlay
	{
		height: calc(100vh - 96px);
		width: calc(100vw - 96px);
	}

	div.panel-header.file-manager-toolbar
	{
		min-height: 54px;
		background: var(--outline-color-secondary);

		button.btn
		{
			height: 30px;
			width: 30px;
			color: theme-color-var(dark, lighter-2);
		}
	}
}
