/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.json-editor.json-editor-iaf
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	input#iaf-key
	{
		flex: 0 0 auto;
		width: 180px;
	}

	select#iaf-type
	{
		flex: 0 0 auto;
		margin-right: auto;
		width: 90px;
	}

	input#iaf-value
	{
		flex: 1 1 auto;
	}

	button
	{
		flex: 0 0 auto;
	}

	button:first-of-type
	{
		margin-left: auto;
	}
}

div.json-editor.json-editor-block
{
	position: relative;
	display: flex;
	margin-bottom: .5rem;

	div.key
	{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		button.toggle
		{
			margin-right: 1rem;
		}

		span.key
		{
			flex: 1 1 auto;
		}

		span.json-editor-o
		{
			position: relative;
			display: block;
			height: 36px;
			margin: 0 1rem;
			min-width: 36px;
			width: 36px;
			background: var(--color-primary);
			border-radius: var(--border-radius);
			color: #ffffff;
			font:
			{
				size: .9rem;
				weight: 400;
			}
			line-height: 36px;
			text-align: center;
		}

		input[type=text]
		{
			color: var(--color-dark);
			font-weight: 500;
		}
	}

	&.array,
	&.object
	{
		flex-flow: column;

		> div.value
		{
			margin: .5rem 0 2rem calc(38px + 1rem);
		}

		&.hide-block > div.value
		{
			display: none;
		}
	}

	&.string,
	&.boolean,
	&.number
	{
		div.key
		{
			width: 180px;
		}

		div.value
		{
			position: relative;
			display: flex;
			margin-left: 1rem;
			flex: 1 1 auto;

			input,
			select
			{
				flex: 1 1 auto;
			}

			button.trash
			{
				margin-left: 1rem;
			}
		}
	}
}
