div.offscreen-overlay
{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--overlay-background);
	pointer-events: all;
	z-index: 1003;

	&:not(.is-open)
	{
		pointer-events: none;
	}
}

div.offscreen-content
{
	position: fixed;
	display: flex;
	align-items: stretch;
	flex-flow: column nowrap;
	justify-content: flex-start;
	background: var(--panel-background);
	color: var(--main-foreground);
	pointer-events: all;
	z-index: 1004;

	&.offscreen-top
	{
		top: 0;
		left: 0;
		right: 0;
	}

	&.offscreen-left
	{
		top: 0;
		left: 0;
		bottom: 0;
	}

	&.offscreen-right
	{
		top: 0;
		right: 0;
		bottom: 0;
	}

	&.offscreen-bottom
	{
		left: 0;
		right: 0;
		bottom: 0;
	}

	&:not(.is-open)
	{
		opacity: 0;
		pointer-events: none;
	}
}

div.offscreen-content:not(.is-dragging),
div.offscreen-overlay:not(.is-dragging)
{
	transition: all 300ms var(--ease-swift-out);
}
