/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

nav.pagination
{
	position: relative;
	display: flex;
	padding: 0;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-start;

	a.pagination-item
	{
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
		height: 30px;
		width: 30px;
		flex: 1 1 auto;
		border-radius: var(--border-radius);
		color: currentColor;
		cursor: pointer;
		font:
		{
			size: .8rem;
			weight: 500;
		}
		line-height: 30px;
		opacity: .75;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;

		i.mdi
		{
			font-size: 18px;
			vertical-align: middle;
		}

		&:hover
		{
			background: RGBA(var(--color-primary), .15);
			color: RGB(var(--color-primary));
			opacity: 1;
		}

		&.is-current
		{
			background: RGB(var(--color-primary));
			color: RGB(var(--color-primary-foreground));
			cursor: default;
			opacity: 1;
			pointer-events: none;
		}

		&.is-disabled
		{
			cursor: default;
			opacity: .5;
			pointer-events: none;
		}
	}
}
