/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.panel.pdf-viewer
{
	position: relative;
	display: flex;
	align-items: stretch;
	flex-flow: column;
	justify-content: flex-start;
	background: transparent;

	--panel-elevation: none;

	div.page
	{
		position: relative;
		display: block;
		background: var(--panel-background);
		border-radius: inherit;
		box-shadow: var(--panel-elevation);
		overflow: hidden;
	}

	div.page + div.page
	{
		margin-top: 1rem;
	}
}
