/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.toolbar
{
	position: sticky;
	display: flex;
	top: 0;
	height: $toolbar-height;
	max-width: 100vw;
	padding: 0 1rem 0 0;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-start;
	background: var(--toolbar-background);
	box-shadow: var(--toolbar-elevation);
	overflow: hidden;
	z-index: 1002;

	button.nav-toggler
	{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		cursor: pointer;
		outline: none;

		i.mdi
		{
			height: 1em;
			width: 1em;
			font-size: 24px;
			line-height: 1em;
		}

		@include compact
		{
			height: 36px;
			width: 36px;
			margin: ($toolbar-height - 36px) / 2;
			margin-right: 0;
			background: transparent;
			border-radius: var(--border-radius);
			color: RGB(var(--color-dark));

			&:hover
			{
				background: RGBA(var(--color-dark), .1);
			}
		}

		@include expanded
		{
			height: $toolbar-height;
			margin-right: 1rem;
			width: $drawer-primary-width;
			background: RGB(var(--drawer-background-primary));
			color: RGB(var(--drawer-foreground-primary));
			pointer-events: none;

			i.mdi
			{
				font-size: 36px;
			}

			i.mdi::before
			{
				height: inherit;
				width: inherit;
				content: " ";
				background:
				{
					image: var(--branding-logo);
					position: center center;
					repeat: no-repeat;
					size: contain;
				}
			}
		}
	}

	> *
	{
		flex: 0 0 auto;
	}

	div.divider
	{
		height: 24px;

		&:first-child
		{
			display: none;
		}
	}

	nav.nav.nav-tabs
	{
		margin-left: 9px;
	}

	span.toolbar-title
	{
		position: relative;
		display: block;
		margin: 0 1rem;
		color: var(--toolbar-color);
		font:
		{
			size: 1.25rem;
			weight: 700;
		}

		@at-root .toolbar-no-title &
		{
			display: none !important;
		}
	}
}
