/*!
 * Copyright © 2019 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

$compact-at: md !default;
$expand-at: lg !default;

$border-radius: 6px !default;

$elevation-umbra-opacity: .05 !default;
$elevation-penumbra-opacity: .035 !default;
$elevation-ambient-opacity: .06 !default;

$drawer-primary-width: 70px !default;
$drawer-secondary-width: 230px !default;
