[data-theme="dark"]
{
	--main-background: #191a1c;
	--main-foreground: rgba(255, 255, 255, .87);
	--main-placeholder: rgba(255, 255, 255, .42);

	--color-dark: 255, 255, 255;
	--color-light: 25, 26, 28;
	--color-dark-foreground: 25, 26, 28;
	--color-light-foreground: 255, 255, 255;

	--outline-color: #25262a;
	--outline-color-rgb: 37, 38, 42;
	--outline-color-secondary: #25262a;
	--outline-color-secondary-rgb: 37, 38, 42;

	--drawer-background-primary: 19, 19, 21;
	--drawer-background-secondary: 32, 33, 36;
	--drawer-elevation: #{elevation-generate(1, black)}, 0 0 0 1px var(--outline-color);
	--drawer-foreground-primary: 255, 255, 255;
	--drawer-outline-primary: var(--outline-color);
	--drawer-outline-secondary: var(--outline-color);

	--toolbar-background: #202124;
	--toolbar-action-background: #131315;
	--toolbar-action-foreground: var(--main-foreground);
	--toolbar-elevation: #{elevation-generate(2, black)}, 0 0 0 1px var(--outline-color);
	--toolbar-foreground: var(--color-dark-text);

	--dropdown-background: #202124;
	--dropdown-elevation: #{elevation-generate(16, black)}, 0 0 0 1px var(--outline-color);

	--form-field-outline: rgba(255, 255, 255, .05);

	--overlay-background: rgba(0, 0, 0, .85);

	--panel-background: #202124;
	--panel-elevation: #{elevation-generate(3, black)}, 0 0 0 1px var(--outline-color);
	--panel-elevation-hover: #{elevation-generate(9, black)}, 0 0 0 1px var(--outline-color);
	--panel-spinner-background: rgba(0, 0, 0, .6);

	--tooltip-background: rgba(var(--color-light), .9);
	--tooltip-foreground: rgb(var(--color-light-foreground));

	--nav-section-foreground: rgba(255, 255, 255, .2);
}
