/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

:root
{
	--main-background: #f9f9f9;
	--main-foreground: rgba(0, 0, 0, .87);
	--main-placeholder: rgba(0, 0, 0, .42);

	--outline-color: #e8ebf2;
	--outline-color-rgb: 232, 235, 242;
	--outline-color-secondary: #f3f6fb;
	--outline-color-secondary-rgb: 243, 246, 251;

	--drawer-background-primary: var(--color-dark);
	--drawer-background-secondary: 255, 255, 255;
	--drawer-elevation: #{elevation-generate(1)};
	--drawer-foreground-primary: var(--color-dark-foreground);
	--drawer-outline-primary: rgba(255, 255, 255, .05);
	--drawer-outline-secondary: rgba(0, 0, 0, .05);

	--toolbar-background: #ffffff;
	--toolbar-action-background: rgb(var(--color-dark));
	--toolbar-action-foreground: rgb(var(--color-dark-foreground));
	--toolbar-elevation: #{elevation-generate(2)};
	--toolbar-foreground: rgb(var(--color-dark));

	--dropdown-background: #ffffff;
	--dropdown-elevation: #{elevation-generate(16)}, 0 0 0 1px var(--outline-color-secondary);

	--form-field-outline: var(--outline-color);

	--overlay-background: rgba(var(--color-dark), .85);

	--panel-background: #ffffff;
	--panel-elevation: #{elevation-generate(3)};
	--panel-elevation-hover: #{elevation-generate(9)};
	--panel-spinner-background: rgba(255, 255, 255, .9);

	--tooltip-background: rgba(var(--color-dark), .9);
	--tooltip-foreground: rgb(var(--color-dark-foreground));

	--nav-section-foreground: rgba(0, 0, 0, .25);
}
