/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

@function theme-color-var($type, $variant: null, $rgb: false)
{
	@if $variant == null
	{
		@if $rgb == true
		{
			@return var(--color-#{$type}-rgb);
		} @else
		{
			@return var(--color-#{$type});
		}
	} @else
	{
		@if $rgb == true
		{
			@return var(--color-#{$type}-#{$variant}-rgb);
		} @else
		{
			@return var(--color-#{$type}-#{$variant});
		}
	}
}

@function theme-color-alpha($type, $alpha, $variant: null)
{
	@return rgba(theme-color-var($type, $variant, true), $alpha);
}

@function make-color-variants($color)
{
	@if $color == white
	{
		@return (
				lighter-3: #ffffff,
				lighter-2: #ffffff,
				lighter-1: #ffffff,
				darker-1: shade($color, 2.5%),
				darker-2: shade($color, 5.0%),
				darker-3: shade($color, 7.5%),
				text: dark-or-light($color, map-get($theme-colors, dark), map-get($theme-colors, light))
		);
	}

	@return (
			lighter-3: tint($color, 30%),
			lighter-2: tint($color, 20%),
			lighter-1: tint($color, 10%),
			darker-1: shade($color, 10%),
			darker-2: shade($color, 20%),
			darker-3: shade($color, 30%),
			text: dark-or-light($color, map-get($theme-colors, dark), map-get($theme-colors, light))
	);
}
