/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte UI package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

div.content
{
	position: relative;
	display: block;
	padding: var(--content-gutter);

	> div.notice
	{
		margin-bottom: 1rem;
	}
}
