/*!
 * Copyright © 2018 - Bas Milius <bas@mili.us>
 *
 * This file is part of the Latte Framework package.
 *
 * For the full copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

:root
{
	--branding-logo: url(/resource/image/branding/logo.svg);
	--border-radius: #{$border-radius};

	--default-light: 255, 255, 255;
	--default-dark: 25, 26, 28;

	@each $type, $color in $theme-colors
	{
		--color-#{$type}: #{red($color)}, #{green($color)}, #{blue($color)};
		--color-#{$type}-foreground: #{dark-or-light($color, var(--default-dark), var(--default-light))};
	}

	--ease-acceleration-curve: #{$ease-acceleration-curve};
	--ease-deceleration-curve: #{$ease-deceleration-curve};
	--ease-sharp-curve: #{$ease-sharp-curve};
	--ease-standard-curve: #{$ease-standard-curve};
	--ease-swift-out: #{$ease-swift-out};

	@include make-typography-vars;
}

main#app.is-popup-opened
{
	pointer-events: none;
}

html body
{
	margin: 0;
	font-size: 1rem;
}
